.container_listPokemon{
    
    @include two_container;

    .container_secondary_list{
        width: 30%;
        height: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(243, 243, 243);
        border: 2px solid black;
    }

    .name {
        font-family: 'Rampart One', cursive;
        color: rgb(0, 155, 39);
    }

    #container_info {
        background-color: rgb(255, 254, 254);
        border: 2px solid black;
        padding: 10px;
    }

    #container_img {
        margin-right: 5%;
    }
}


@media (max-width: 768px){
    .container_secondary_list {
        width: 95% !important;
        height: 100% !important;
        text-align: center;
        display: flex;
        justify-content: center;
        padding: 4% !important;
        margin-top: 55px;
        align-items: center;
        background-color: #f3f3f3;
        border: 2px solid black;
    }
    
}

