.container_Pokemons {
    @include primary_container();

    #selection_pokemon {
        margin-top: 10%;
        margin-bottom: 5%;
        font-size: 35px;
        font-weight: bold;
        font-family: 'Rampart One', cursive;
    }

    #selec_pokemon {
        padding: 1%;
        width: 40%;
        border-radius: 25px;
        outline: none;
        box-shadow: 4px 6px 15px -8px;
        margin-bottom: 5%;
    }

    #button {
        @include button;
    }
}

@media (max-width: 768px) {
    .container_Pokemons {
        text-align: center;
    }

    .container_Pokemons img{
        width: 300px;
    }

    
    #selec_pokemon {
        padding: 4% !important;
        width: 75% !important;
        border-radius: 25px;
        outline: none;
        box-shadow: 4px 6px 15px -8px;
        margin-bottom: 5%;
    }
}
